.git
.github
.env
.env.*
!.env.example
.DS_Store
**/._*
node_modules
vendor
storage/*.key
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/build
UI
*.log
Dockerfile
docker-compose*.yml
